<h1>新規投稿ページ</h1>
<%= form_with url: "/posts", method: :post, local: true do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '投稿する' %>
<% end %>


<%# 旧カリキュラム　form_tagの場合

<h1>新規投稿ページ</h1>
<%= form_tag('/posts', method: :post) do %> 
  <%# <input type="text" name="content"> 
  <input type="submit" value="投稿する">
<% end %> 